@import './base.css';
@import '@coreui/coreui/dist/css/coreui.min.css';
#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.nav-wrapper {
  height: 4em;
  width:100%;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.container-sm{
  max-width: 960px;
}

.btn{
  background-color: var(--vt-c-green);
  color: var(--vt-c-white);
  height: 35px;
}

.card-product{
  width: 200px;
  max-width: 200px;
  height: 320px;  
  max-height: 360px;
  object-fit: contain;
  margin: 5px 5px 5px 5px;
}

.card-cart{
  max-width: 660px;
  /* height: 220px; */
  max-height: 320px;
  object-fit: contain;
  margin: 5px 5px 5px 5px;
}

.card-image-cart {
  /* outline: solid; */
  border-radius: 10px;
  height: 90%;
  width: 150px;
  margin: 1em 1em 1em 1em;
}

.input-group-size-sm {
  width: 150px;
}

.card-image-cart img {
  height: inherit;
  object-fit: cover;
  width: inherit;
}


.card-img-top{
  width: auto; 
  height: 120px; 
  object-fit: contain;
}

.card-title{
  font-size: 16px;
  height:40px;
}

.form-control{
  padding: 0 0 0 0;
}

.input-group> .form-control {
  flex : 0.5 0.5 auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: grid;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
